/* Fonts */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* General Website Style rules */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #434455;
  background-color: #ffffff;
}

/* [Header] rules */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-logo-text {
  color: #2e2f42;
}

.main-menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-menu-list:focus {
  color: #404bbf;
}
.main-menu-list:hover {
  color: #404bbf;
}

.main-menu-list:active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-list:focus {
  color: #404bbf;
}
.address-list:hover {
  color: #404bbf;
}
.address-list:active {
  color: #404bbf;
}

/* [main] -> [section] (first section contains) rules */

.section-one-settings {
  background-color: #2e2f42;
}

.h1-settings {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-settings {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-settings:focus {
  color: #404bbf;
}
.button-settings:hover {
  color: #404bbf;
}
.button-settings:active {
  color: #404bbf;
}
